<?xml version="1.0" encoding="UTF-8"?>
<window>
	<defaultcontrol always="true">9000</defaultcontrol>
	<allowoverlay>no</allowoverlay>
	<menucontrol>9051</menucontrol>
	<onload>SetProperty(Window.HasSettings,True,home)</onload>
	<onload>ClearProperty(MediaMenu,Home)</onload>
	<onunload>ClearProperty(Window.HasSettings,Home)</onunload>
	<controls>
		<include content="CommonBackground">
			<param name="windowOpen" value="![Window.Previous(SettingsCategory.xml) | Window.Previous(systeminfo) | Window.Previous(profiles)]" />
			<param name="windowClose" value="![Window.Next(SettingsCategory.xml) | Window.Next(systeminfo) | Window.Next(profiles)]" />
		</include>
		<include>Topbar</include>
		<control type="group" id="50">
			<top>128</top>
			<left>SettingsLeft</left>
			<include content="WindowOpenCloseAnimation">
				<param name="windowOpen" value="![Window.Previous(SettingsCategory.xml) | Window.Previous(systeminfo) | Window.Previous(profiles)]" />
				<param name="windowClose" value="![Window.Next(SettingsCategory.xml) | Window.Next(systeminfo) | Window.Next(profiles)]" />
			</include>
			<include>SystemLeftPanel</include>
			<control type="panel" id="9000">
				<left>82</left>
				<top>32</top>
				<width>356</width>
				<height>720</height>
				<onleft>61</onleft>
				<onright>61</onright>
				<onup>9000</onup>
				<ondown>9000</ondown>
				<pagecontrol>61</pagecontrol>
				<scrolltime tween="quadratic">300</scrolltime>
				<itemlayout height="90" width="356">
					<control type="image">
						<top>30</top>
						<width>356</width>
						<height>60</height>
						<texture border="1">separator2.png</texture>
					</control>
					<control type="label">
						<width>356</width>
						<height>90</height>
						<font>font15</font>
						<textoffsetx>20</textoffsetx>
						<textcolor>grey2</textcolor>
						<selectedcolor>selected</selectedcolor>
						<align>right</align>
						<label>$INFO[ListItem.Label]</label>
					</control>
				</itemlayout>
				<focusedlayout height="90" width="356">
					<control type="image">
						<top>30</top>
						<width>356</width>
						<height>60</height>
						<texture border="1">separator2.png</texture>
					</control>
					<control type="image">
						<width>356</width>
						<height>90</height>
						<texture border="4">listselect_fo.png</texture>
						<visible>Control.HasFocus(9000)</visible>
						<include>VisibleFadeAnimation</include>
					</control>
					<control type="label">
						<width>356</width>
						<height>90</height>
						<font>font15</font>
						<textoffsetx>20</textoffsetx>
						<textcolor>white</textcolor>
						<selectedcolor>selected</selectedcolor>
						<align>right</align>
						<label>$INFO[ListItem.Label]</label>
						<animation effect="fade" start="100" end="70" time="300" tween="sine" easing="inout" condition="!Control.HasFocus(9000)">Conditional</animation>
					</control>
				</focusedlayout>
				<content>
					<item>
						<label>14206</label>
						<property name="description">31400</property>
						<onclick>ActivateWindow(InterfaceSettings)</onclick>
						<icon />
					</item>
					<item>
						<label>14200</label>
						<property name="description">31414</property>
						<onclick>ActivateWindow(PlayerSettings)</onclick>
						<icon />
					</item>
					<item>
						<label>31502</label>
						<property name="description">31409</property>
						<onclick>ActivateWindow(PVRSettings)</onclick>
						<icon />
					</item>
					<item>
						<label>14211</label>
						<property name="description">31415</property>
						<onclick>ActivateWindow(MediaSettings)</onclick>
						<icon />
					</item>
					<item>
						<label>$LOCALIZE[15016]</label>
						<visible>System.GetBool(gamesgeneral.enable)</visible>
						<onclick>ActivateWindow(GameSettings)</onclick>
						<icon />
					</item>
					<item>
						<label>13200</label>
						<property name="description">31407</property>
						<onclick>ActivateWindow(Profiles)</onclick>
						<icon />
					</item>
					<item>
						<label>14036</label>
						<property name="description">31410</property>
						<onclick>ActivateWindow(ServiceSettings)</onclick>
						<icon />
					</item>
					<item>
						<label>13000</label>
						<property name="description">31406</property>
						<onclick>ActivateWindow(SystemSettings)</onclick>
						<icon />
					</item>
					<item>
						<label>10511</label>
						<property name="description">31405</property>
						<onclick>ActivateWindow(SystemInfo)</onclick>
						<icon />
					</item>
				</content>
			</control>
			<control type="scrollbar" id="61">
				<left>65</left>
				<top>32</top>
				<width>14</width>
				<height>720</height>
				<onleft>SetProperty(MediaMenu,True,home)</onleft>
				<onleft>SetFocus(9050)</onleft>
				<onright>9000</onright>
				<ondown>61</ondown>
				<onup>61</onup>
				<showonepage>false</showonepage>
				<texturesliderbackground />
				<texturesliderbar colordiffuse="55ffffff" border="1">scrollbar/texturesliderbar2.png</texturesliderbar>
				<texturesliderbarfocus border="1">scrollbar/texturesliderbar2.png</texturesliderbarfocus>
			</control>
			<control type="image">
				<description>LOGO</description>
				<left>82</left>
				<top>752</top>
				<width>356</width>
				<height>120</height>
				<aspectratio>keep</aspectratio>
				<texture>aeon-nox-logo.png</texture>
			</control>
			<include>SystemRightPanel</include>
			<control type="image">
				<left>522</left>
				<top>32</top>
				<width>1316</width>
				<height>839</height>
				<aspectratio align="center">scale</aspectratio>
				<texture background="true">special://skin/backgrounds/default_settings.jpg</texture>
			</control>
			<control type="image">
				<left>522</left>
				<top>32</top>
				<width>1316</width>
				<height>839</height>
				<aspectratio align="center">scale</aspectratio>
				<texture>black.png</texture>
				<animation effect="fade" start="45" end="45" time="0" condition="true">conditional</animation>
			</control>
			<control type="textbox">
				<description>description area</description>
				<left>552</left>
				<top>600</top>
				<width>1256</width>
				<height>400</height>
				<font>font15_textbox</font>
				<textcolor>grey2</textcolor>
				<autoscroll time="3000" delay="4000" repeat="5000">true</autoscroll>
				<label>$INFO[Container(9000).ListItem.Property(description)]</label>
				<animation effect="fade" start="0" end="100" time="300" tween="sine" easing="inout">Visible</animation>
				<animation effect="fade" start="100" end="0" time="0" tween="sine" easing="inout">Hidden</animation>
			</control>
		</control>
		<control type="group">
			<left>-440</left>
			<include>SideBladeLeft</include>
			<control type="grouplist" id="9050">
				<include>NoMediaMenu</include>
			</control>
		</control>
	</controls>
</window>