<?xml version="1.0" encoding="UTF-8"?>
<window>
	<defaultcontrol always="true">9000</defaultcontrol>
	<allowoverlay>no</allowoverlay>
	<controls>
		<include>CommonBackground</include>
		<include>Topbar</include>
		<control type="group">
			<posx>0</posx>
			<posy>128</posy>
			<include>Window_OpenClose_Animation</include>
			<include>SystemLeftPanel</include>
			<control type="panel" id="9000">
				<posx>82</posx>
				<posy>32</posy>
				<width>356</width>
				<height>720</height>
				<onleft>61</onleft>
				<onright>61</onright>
				<onup>9000</onup>
				<ondown>9000</ondown>
				<pagecontrol>61</pagecontrol>
				<scrolltime tween="quadratic">300</scrolltime>
				<itemlayout height="90" width="356">
					<control type="image">
						<posy>30</posy>
						<width>356</width>
						<height>60</height>
						<texture border="1">separator2.png</texture>
					</control>
					<control type="label">
						<posx>356</posx>
						<posy>0</posy>
						<width>356</width>
						<height>90</height>
						<font>font15</font>
						<textoffsetx>20</textoffsetx>
						<textcolor>grey2</textcolor>
						<selectedcolor>selected</selectedcolor>
						<align>right</align>
						<aligny>center</aligny>
						<label>$INFO[ListItem.Label]</label>
					</control>
				</itemlayout>
				<focusedlayout height="90" width="356">
					<control type="image">
						<posy>30</posy>
						<width>356</width>
						<height>60</height>
						<texture border="1">separator2.png</texture>
					</control>
					<control type="image">
						<posx>0</posx>
						<posy>0</posy>
						<width>356</width>
						<height>90</height>
						<texture border="4">listselect_fo.png</texture>
						<visible>Control.HasFocus(9000)</visible>
						<include>VisibleFadeEffect</include>
					</control>
					<control type="label">
						<posx>356</posx>
						<posy>0</posy>
						<width>356</width>
						<height>90</height>
						<font>font15</font>
						<textoffsetx>20</textoffsetx>
						<textcolor>white</textcolor>
						<selectedcolor>selected</selectedcolor>
						<align>right</align>
						<aligny>center</aligny>
						<label>$INFO[ListItem.Label]</label>
						<animation effect="fade" start="100" end="70" time="300" tween="sine" easing="inout" condition="!Control.HasFocus(9000)">Conditional</animation>
					</control>
				</focusedlayout>
				<content>
					<item id="1">
						<label>480</label>
						<label2></label2>
						<property name="description">31400</property>
						<onclick>ActivateWindow(AppearanceSettings)</onclick>
						<icon>-</icon>
					</item>
					<item id="2">
						<label>157</label>
						<label2></label2>
						<property name="description">31401</property>
						<onclick>ActivateWindow(VideosSettings)</onclick>
						<icon>-</icon>
					</item>
					<item id="3">
						<label>31502</label>
						<label2></label2>
						<property name="description">31409</property>
						<onclick>ActivateWindow(PVRSettings)</onclick>
						<icon>-</icon>
					</item>
					<item id="4">
						<label>2</label>
						<label2></label2>
						<property name="description">31402</property>
						<onclick>ActivateWindow(MusicSettings)</onclick>
						<icon>-</icon>
					</item>
					<item id="5">
						<label>1</label>
						<label2></label2>
						<property name="description">31403</property>
						<onclick>ActivateWindow(PicturesSettings)</onclick>
						<icon>-</icon>
					</item>
					<item id="6">
						<label>8</label>
						<label2></label2>
						<property name="description">31404</property>
						<onclick>ActivateWindow(WeatherSettings)</onclick>
						<icon>-</icon>
					</item>
					<item id="7">
						<label>24001</label>
						<label2></label2>
						<property name="description">31408</property>
						<onclick>ActivateWindow(AddonBrowser)</onclick>
						<icon>-</icon>
					</item>
					<item id="8">
						<label>14036</label>
						<label2></label2>
						<property name="description">31410</property>
						<onclick>ActivateWindow(ServiceSettings)</onclick>
						<icon>-</icon>
					</item>
					<item id="9">
						<label>13000</label>
						<label2></label2>
						<property name="description">31406</property>
						<onclick>ActivateWindow(SystemSettings)</onclick>
						<icon>-</icon>
					</item>
					<item id="10">
						<label>10511</label>
						<label2></label2>
						<property name="description">31405</property>
						<onclick>ActivateWindow(SystemInfo)</onclick>
						<icon>-</icon>
					</item>
				</content>
			</control>
			<control type="scrollbar" id="61">
				<posx>65</posx>
				<posy>32</posy>
				<width>14</width>
				<height>720</height>
				<onleft>9000</onleft>
				<onright>9000</onright>
				<ondown>61</ondown>
				<onup>61</onup>
				<showonepage>false</showonepage>
				<texturesliderbackground>-</texturesliderbackground>
				<texturesliderbar colordiffuse="55ffffff" border="1">scrollbar/texturesliderbar2.png</texturesliderbar>
				<texturesliderbarfocus border="1">scrollbar/texturesliderbar2.png</texturesliderbarfocus>
			</control>
			<control type="image">
				<description>LOGO</description>
				<posx>82</posx>
				<posy>752</posy>
				<width>356</width>
				<height>120</height>
				<aspectratio>keep</aspectratio>
				<texture>aeon-nox-logo.png</texture>
			</control>
			<include>SystemRightPanel</include>			
			<control type="image">
				<posx>522</posx>
				<posy>32</posy>
				<width>1316</width>
				<height>839</height>
				<aspectratio align="center">scale</aspectratio>
				<texture background="true">special://skin/backgrounds/default_settings.jpg</texture>
			</control>
			<control type="image">
				<posx>522</posx>
				<posy>32</posy>
				<width>1316</width>
				<height>839</height>
				<aspectratio align="center">scale</aspectratio>
				<texture>black.png</texture>
				<animation effect="fade" start="45" end="45" time="0" condition="true">conditional</animation>
			</control>
			<!--<control type="image">
				<description>separator image</description>
				<posx>522</posx>
				<posy>500</posy>
				<width>1316</width>
				<height>60</height>
				<texture border="1">separator2.png</texture>
			</control>-->
			<control type="textbox">
				<description>description area</description>
				<posx>552</posx>
				<posy>600</posy>
				<width>1256</width>
				<height>400</height>
				<font>font15_textbox</font>
				<align>left</align>
				<textcolor>grey2</textcolor>
				<autoscroll time="3000" delay="4000" repeat="5000">true</autoscroll>
				<label>$INFO[Container(9000).ListItem.Property(description)]</label>
				<animation effect="fade" start="0" end="100" time="300" tween="sine" easing="inout" >Visible</animation>
				<animation effect="fade" start="100" end="0" time="0" tween="sine" easing="inout" >Hidden</animation>
			</control>
		</control>
	</controls>
</window>