<?xml version="1.0" encoding="UTF-8"?>
<window>
	<defaultcontrol always="true">9000</defaultcontrol>
	<menucontrol>9051</menucontrol>
	<onunload condition="System.HasAddon(script.colorbox)">RunScript(script.colorbox,daemon=True)</onunload>
	<controls>
		<include>CommonBackground</include>
		<include>Topbar</include>
		<control type="group" id="50">
			<top>59</top>
			<include>WindowOpenCloseAnimation</include>
			<control type="panel" id="9000">
				<left>90</left>
				<width>1800</width>
				<height>820</height>
				<onup>9000</onup>
				<ondown>9000</ondown>
				<pagecontrol>61</pagecontrol>
				<scrolltime tween="quadratic">300</scrolltime>
				<itemlayout width="360" height="410" condition="Integer.IsLessOrEqual(Container(9000).NumItems,10)">
					<control type="image">
						<left>2</left>
						<top>2</top>
						<width>242</width>
						<height>242</height>
						<texture colordiffuse="black">$INFO[ListItem.Icon]</texture>
						<align>center</align>
						<aspectratio>scale</aspectratio>
					</control>
					<control type="image">
						<width>240</width>
						<height>240</height>
						<texture colordiffuse="white">$INFO[ListItem.Icon]</texture>
						<align>center</align>
						<aspectratio>scale</aspectratio>
					</control>
					<control type="label">
						<top>190</top>
						<width>240</width>
						<height>90</height>
						<textcolor>white</textcolor>
						<shadowcolor>shadow</shadowcolor>
						<align>center</align>
						<label>$INFO[ListItem.Label]</label>
					</control>
				</itemlayout>
				<focusedlayout width="360" height="410" condition="Integer.IsLessOrEqual(Container(50).NumItems,10)">
					<control type="group">
						<animation effect="zoom" center="130,120" start="100" end="140" time="420" tween="back" reversible="false">Focus</animation>
						<control type="image">
							<left>2</left>
							<top>2</top>
							<width>242</width>
							<height>242</height>
							<texture colordiffuse="black">$INFO[ListItem.Icon]</texture>
							<align>center</align>
							<aspectratio>scale</aspectratio>
						</control>
						<control type="image">
							<width>240</width>
							<height>240</height>
							<texture colordiffuse="$VAR[HighlightBarColor]">$INFO[ListItem.Icon]</texture>
							<align>center</align>
							<aspectratio>scale</aspectratio>
						</control>
						<control type="label">
							<top>190</top>
							<width>240</width>
							<height>90</height>
							<label>$INFO[ListItem.Label]</label>
							<align>center</align>
							<textcolor>$VAR[HighlightBarColor]</textcolor>
							<shadowcolor>shadow</shadowcolor>
						</control>
					</control>
				</focusedlayout>
				<itemlayout width="300" height="410" condition="Integer.IsGreater(Container(9000).NumItems,10)">
					<control type="image">
						<left>2</left>
						<top>2</top>
						<width>242</width>
						<height>242</height>
						<texture colordiffuse="black">$INFO[ListItem.Icon]</texture>
						<align>center</align>
						<aspectratio>scale</aspectratio>
					</control>
					<control type="image">
						<width>240</width>
						<height>240</height>
						<texture colordiffuse="white">$INFO[ListItem.Icon]</texture>
						<align>center</align>
						<aspectratio>scale</aspectratio>
					</control>
					<control type="label">
						<top>190</top>
						<width>240</width>
						<height>90</height>
						<label>$INFO[ListItem.Label]</label>
						<align>center</align>
						<textcolor>white</textcolor>
						<shadowcolor>shadow</shadowcolor>
					</control>
				</itemlayout>
				<focusedlayout width="300" height="410" condition="Integer.IsGreater(Container(50).NumItems,10)">
					<control type="group">
						<animation effect="zoom" center="120,120" start="100" end="140" time="420" tween="back" reversible="false">Focus</animation>
						<control type="image">
							<left>2</left>
							<top>2</top>
							<width>242</width>
							<height>242</height>
							<texture colordiffuse="black">$INFO[ListItem.Icon]</texture>
							<align>center</align>
							<aspectratio>scale</aspectratio>
						</control>
						<control type="image">
							<width>240</width>
							<height>240</height>
							<texture colordiffuse="$VAR[HighlightBarColor]">$INFO[ListItem.Icon]</texture>
							<align>center</align>
							<aspectratio>scale</aspectratio>
						</control>
						<control type="label">
							<top>190</top>
							<width>240</width>
							<height>90</height>
							<label>$INFO[ListItem.Label]</label>
							<align>center</align>
							<textcolor>$VAR[HighlightBarColor]</textcolor>
							<shadowcolor>shadow</shadowcolor>
						</control>
					</control>
				</focusedlayout>
				<content>
					<item>
						<label>14206</label>
						<property name="description">31400</property>
						<onclick>ActivateWindow(InterfaceSettings)</onclick>
						<icon>views/settings/interface.png</icon>
					</item>
					<item>
						<label>14200</label>
						<property name="description">31401</property>
						<onclick>ActivateWindow(PlayerSettings)</onclick>
						<icon>views/settings/player.png</icon>
					</item>
					<item>
						<label>14211</label>
						<property name="description">31402</property>
						<onclick>ActivateWindow(MediaSettings)</onclick>
						<icon>views/settings/media.png</icon>
					</item>
					<item>
						<label>24001</label>
						<property name="description">31448</property>
						<onclick>ActivateWindow(addonbrowser)</onclick>
						<icon>views/settings/addons.png</icon>
					</item>
					<item>
						<label>31502</label>
						<property name="description">31409</property>
						<onclick>ActivateWindow(PVRSettings)</onclick>
						<icon>views/settings/pvr.png</icon>
					</item>
					<item>
						<label>15016</label>
						<property name="description">31441</property>
						<onclick>ActivateWindow(GameSettings)</onclick>
						<icon>views/settings/games.png</icon>
					</item>
					<item>
						<label>13200</label>
						<property name="description">31407</property>
						<onclick>ActivateWindow(Profiles)</onclick>
						<icon>views/settings/profiles.png</icon>
					</item>
					<item>
						<label>14036</label>
						<property name="description">31410</property>
						<onclick>ActivateWindow(ServiceSettings)</onclick>
						<icon>views/settings/service.png</icon>
					</item>
					<item>
						<label>13000</label>
						<property name="description">31406</property>
						<onclick>ActivateWindow(SystemSettings)</onclick>
						<icon>views/settings/system.png</icon>
					</item>
					<item>
						<label>10511</label>
						<property name="description">31405</property>
						<onclick>ActivateWindow(SystemInfo)</onclick>
						<icon>views/settings/systeminfo.png</icon>
					</item>
					<item>
						<label>LibreELEC</label>
						<property name="description">31318</property>
						<onclick>RunAddon(service.libreelec.settings)</onclick>
						<icon>views/settings/libreelec.png</icon>
						<visible>System.HasAddon(service.libreelec.settings)</visible>
					</item>
					<item>
						<label>CoreELEC</label>
						<property name="description">31490</property>
						<onclick>RunAddon(service.coreelec.settings)</onclick>
						<icon>views/settings/coreelec.png</icon>
						<visible>System.HasAddon(service.coreelec.settings)</visible>
					</item>
				</content>
			</control>
			<control type="textbox">
				<right>80</right>
				<top>845</top>
				<width>1200</width>
				<height>175</height>
				<textcolor>grey2</textcolor>
				<align>right</align>
				<autoscroll time="3000" delay="4000" repeat="5000">true</autoscroll>
				<label>$INFO[Container(9000).ListItem.Property(description)]</label>
			</control>
		</control>
	</controls>
</window>