Thumbs.db
# TexturePacker for Linux
TexturePacker
# Texture file and themes
Textures.xbt
White.xbt
Lite_Floor.xbt
Neon65.xbt
# TexturePacker for Windows + dependencies and logfile
TexturePacker.exe
packer.bat
textures.cmd
textures.log
zlib1.dll
jpeg.dll
libpng12-0.dll
libtiff-3.dll
SDL.dll
SDL_image.dll
# Genre icons
extras/*