*.bat
*.cmd
*.log
*.xbt
*.exe
*.py
*.sublime-project
*.sublime-workspace
*.DS_Store
*.sh
themes/test
colors/test.xml
16x9/script-skinshortcuts-includes.xml
21x9/script-skinshortcuts-includes.xml
16x9/Custom_Debug_Overlay.xml
21x9/Custom_Debug_Overlay.xml
/debuggrid1080.png
