*.bat
*.cmd
*.log
*.xbt
*.exe
*.py
*.sublime-project
*.sublime-workspace
*.DS_Store
*.sh
themes/test
colors/test.xml
1080i/script-skinshortcuts-includes.xml
21x9/script-skinshortcuts-includes.xml
1080i/Custom_Debug_Overlay.xml
21x9/Custom_Debug_Overlay.xml
backgrounds/debuggrid1080.png