<window id="4">
	<defaultcontrol always="true">9000</defaultcontrol>
	<allowoverlay>no</allowoverlay>
	<controls>
    <include>CommonSettingsBackground</include>
    <include>CommonMediaPlayingBackground</include>
    <control type="group">
      <animation type="WindowOpen" reversible="false" condition="!Window.Previous(10012)+!Window.Previous(10013)+!Window.Previous(10014)+!Window.Previous(10015)+!Window.Previous(10016)+!Window.Previous(10017)+!Window.Previous(10018)+!Window.Previous(10019)+!Window.Previous(1111)+!Window.Previous(10007)">
        <effect type="zoom" start="150" end="100" center="640,360" time="300" tween="cubic" easing="out"/>
        <effect type="fade" start="0" end="100" time="300"/>
      </animation>
      <animation type="WindowClose" reversible="false" condition="!Window.Next(10012)+!Window.Next(10013)+!Window.Next(10014)+!Window.Next(10015)+!Window.Next(10016)+!Window.Next(10017)+!Window.Next(10018)+!Window.Next(10019)+!Window.Next(1111)+!Window.Next(10007)">
        <effect type="fade" start="100" end="0" time="300"/>
        <effect type="zoom" start="100" end="130" center="640,360" time="300" tween="cubic" easing="in"/>
      </animation>
      <include>Furniture_SettingsBackPanel</include>
      <control type="image">
        <include>Furniture_SettingsInternalBackPanel</include>
        <include>Animation_SettingsInternalPanel</include>
      </control>

<include>Furniture_SettingsLogo</include>   
			<control type="list" id="9000">
        <posx>42</posx>
        <posy>126</posy>
        <width>260</width>
        <height>546</height>
        <onleft>9000</onleft>
				<onright>9001</onright>
				<onup>9000</onup>
				<ondown>9000</ondown>
				<pagecontrol>-</pagecontrol>
        <scrolltime tween="sine" easing="out">300</scrolltime>
        <itemlayout height="54" width="260">
          <control type="label">
            <posx>20</posx>
            <posy>0</posy>
            <width>216</width>
            <height>36</height>
						<font>Font_Bold20_Caps</font>
						<textcolor>FFf5f5f5</textcolor>
						<aligny>center</aligny>
						<label>$INFO[ListItem.Label]</label>
					</control>
          <control type="label">
            <posx>20</posx>
            <posy>27</posy>
            <width>216</width>
            <height>18</height>
            <font>Font_Info_Caps</font>
            <textcolor>FFf5f5f5</textcolor>
            <align>left</align>
            <aligny>center</aligny>
            <label>[UPPERCASE]$INFO[ListItem.Label2][/UPPERCASE]</label>
          </control>
        </itemlayout>
				<focusedlayout height="54" width="260">
          <control type="image">
            <posx>0</posx>
            <posy>-4</posy>
            <width>216</width>
            <height>64</height>
            <texture>views/listpanel_selectbar.png</texture>
          </control>
          <control type="label">
            <posx>20</posx>
            <posy>0</posy>
            <width>216</width>
            <height>36</height>
            <font>Font_Bold20_Caps</font>
            <textcolor>ff2e2e2e</textcolor>
						<aligny>center</aligny>
						<label>$INFO[ListItem.Label]</label>
					</control>
          <control type="label">
            <posx>20</posx>
            <posy>27</posy>
            <width>216</width>
            <height>18</height>
            <font>Font_Info_Caps</font>
            <textcolor>ff2e2e2e</textcolor>
            <align>left</align>
            <aligny>center</aligny>
            <label>[UPPERCASE]$INFO[ListItem.Label2][/UPPERCASE]</label>
          </control>
        </focusedlayout>
				<content>
					<item id="1">
						<label>480</label>
						<label2>31410</label2>
						<onclick>ActivateWindow(AppearanceSettings)</onclick>
						<icon>special://skin/backgrounds/appearance.jpg</icon>
					</item>
					<item id="2">
						<label>157</label>
						<label2>5</label2>
						<onclick>ActivateWindow(VideosSettings)</onclick>
						<icon>special://skin/backgrounds/videos.jpg</icon>
					</item>
					<item id="3">
						<label>2</label>
						<label2>5</label2>
						<onclick>ActivateWindow(MusicSettings)</onclick>
						<icon>special://skin/backgrounds/music.jpg</icon>
					</item>
					<item id="4">
						<label>1</label>
						<label2>5</label2>
						<onclick>ActivateWindow(PicturesSettings)</onclick>
						<icon>special://skin/backgrounds/pictures.jpg</icon>
					</item>
					<item id="5">
						<label>8</label>
						<label2>31027</label2>
						<onclick>ActivateWindow(WeatherSettings)</onclick>
						<icon>special://skin/backgrounds/weather.jpg</icon>
					</item>
					<item id="6">
						<label>24001</label>
						<label2>31411</label2>
						<onclick>ActivateWindow(AddonBrowser)</onclick>
						<icon>special://skin/backgrounds/addons.jpg</icon>
					</item>
					<item id="7">
						<label>705</label>
						<label2>31412</label2>
						<onclick>ActivateWindow(NetworkSettings)</onclick>
						<icon>special://skin/backgrounds/network.jpg</icon>
					</item>
					<item id="8">
						<label>13000</label>
						<label2>10507</label2>
						<onclick>ActivateWindow(SystemSettings)</onclick>
						<icon>special://skin/backgrounds/system.jpg</icon>
					</item>
          <item id="10">
            <label>13281</label>
            <label2>31413</label2>
            <onclick>ActivateWindow(systeminfo)</onclick>
            <icon>special://skin/backgrounds/systeminfo.jpg</icon>
          </item>
					<item id="9">
						<label>166</label>
						<label2>31115</label2>
						<onclick>ActivateWindow(1111)</onclick>
						<icon>special://skin/backgrounds/skinsetting.jpg</icon>
					</item>
				</content>
			</control>

		
		
			<control type="image">
        <posx>332</posx>
        <posy>58</posy>
        <width>840</width>
        <height>472</height>
				<aspectratio>stretch</aspectratio>
				<fadetime>600</fadetime>
				<texture background="true">$INFO[Container(9000).ListItem.Icon]</texture>
			</control>
			
			<control type="textbox">
				<description>Appearance Description</description>
				<posx>370</posx>
				<posy>540</posy>
				<width>800</width>
				<height>100</height>
				<font>Font_Reg20</font>
				<label>$VAR[SettingsDescVar]</label>
				<align>left</align>
				<textcolor>white</textcolor>
				<shadowcolor>-</shadowcolor>
			</control>
      <include>Furniture_SettingsFrontPanel</include>
<include>Furniture_SettingsInternalFrontPanel</include>
		</control>

    <control type="group">
      <description>Breadcrumbs</description>
      <visible>Skin.HasSetting(breadcrumb)</visible>
      <include>Animation_HideBreadCrumbs</include>
      <include>Breadcrumbs_BackBar</include>
      <control type="group">
        <control type="grouplist">
          <posx>15</posx>
          <posy>0</posy>
          <width>500</width>
          <align>left</align>
          <visible></visible>
          <itemgap>0</itemgap>
          <orientation>horizontal</orientation>
          <control type="image">
            <description>Items Icon</description>
            <width>36</width>
            <height>23</height>
            <texture>common/settings_logo.png</texture>
			<include>BreadcrumbsIcon</include>
            <animation effect="slide" start="0,0" end="-6,1" time="0" condition="true">Conditional</animation>
          </control>
          <control type="label">
            <include>BreadcrumbsLabel</include>
            <label>$LOCALIZE[5]</label>
          </control>
        </control>
      </control>
      <include>Breadcrumbs_Furniture</include>
    </control>

    <include condition="!Skin.HasSetting(GlobalNowPlaying)">Furniture_NowPlayingWidget</include>
<include condition="!Skin.HasSetting(breadcrumb) + Skin.HasSetting(GlobalRSS)">GlobalRSS</include>
    <include condition="Skin.HasSetting(globaltime)">Furniture_Clock</include>
  </controls>
</window>
